{% extends 'mainapp/base.html' %}
{% load static %}



{% block content %}

    <div class="container-md">

    <div class="row justify-content-center mt-3">
    {% for course in page_obj %}
    <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
        <a href="{% url 'mainapp:courses_detail' pk=course.pk %}">
            <img src="{% static course.cover %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{ course.name }}</h5>
            </div>
        </a>
    </div>
    {% endfor%}
    </div>
    
    {% block pagination %}
    {% include 'includes/pagination.html' %}
    {% endblock pagination %}

</div>

{% endblock content %}